@model List<Services.Idioma.Language>
@{
    ViewBag.Title = "ABMIdioma";
    Services.Idioma.Translator translator = new Services.Idioma.Translator();
    UAIDesarrolloArquitectura.Controllers.IdiomaController lC = new UAIDesarrolloArquitectura.Controllers.IdiomaController();
    lC.InitializeController();
    Services.LanguageService service = lC.GetService();
    service.Susbcribe(translator);
    if (Services.SessionManager.IsLogged())
    {
        service.ChangeLanguage((Services.SessionManager.GetInstance.User.LanguageId).ToString());
    }
    else
    {
        if (!service.SelectedLanguageExists()) { service.ChangeLanguage("1"); }
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios</title>
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
        .contenedor-tabla {
            max-height: 400px;
            overflow-y: auto;
            border: 1px solid #ddd;
        }

        table {
            width: 80%;
            margin: auto;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        .btnRemover {
            padding: 10px;
            background-color: rgb(30, 100, 196);
            color: white;
            align-items: center;
            border-style: none;
            margin: 10px;
        }

            .btnRemover:hover {
                background-color: rgb(34, 124, 222);
                cursor: pointer;
            }

        .textBoxContainer {
            display: flex;
            margin: 10px;
            justify-content: center;
            gap: 5px;
            font-size: 13px;
        }
    </style>
</head>
<body>
    <nav class="barra">
        @if (Services.SessionManager.IsLogged())
        {
            <div class="opciones">
                <a href="@Url.Action("Logout", "Home")">@translator.GetTraduction(service, "Logout")</a>
                <a href="@Url.Action("Index", "Home")">@translator.GetTraduction(service, "Main")</a>
                <a style="display:none;" id="bitacora" href="@Url.Action("Bitacora", "Bitacora")">@translator.GetTraduction(service, "Log")</a>
                <a style="display:none;" id="abmusuarios" href="#">@translator.GetTraduction(service, "ManageUser")</a>
                <a style="display:none;" id="restore" href="@Url.Action("BackupRestore", "Backup")">@translator.GetTraduction(service, "Restoredb")</a>
                <a style="display:none;" id="1001" href="@Url.Action("ABMIdioma", "Idioma")">@translator.GetTraduction(service, "ManageLanguage")</a>
                <script type="text/javascript">
                     @foreach (string permission in Services.SessionManager.GetInstance.User.permissionList)
                     {
                         <text>
                             document.getElementById('@permission').style.display = 'block';
                         </text>
                     }
                </script>
                <a href="@Url.Action("Carrito", "Carrito")">@translator.GetTraduction(service, "Cart")</a>
            </div>
            <div class="opciones">
                <img src="~/assets/user-image-with-black-background-svgrepo-com.svg" width="30px" />
                <p style='color: black; white-space: nowrap;'>@translator.GetTraduction(service, "Welcome"), @Services.SessionManager.GetInstance.User.Name</p>
            </div>
        }
        else
        {
    <a href="@Url.Action("Login", "Login")">@translator.GetTraduction(service, "Login")</a>
        }
    </nav>
    <header>
        <h1>Bersonal</h1>
    </header>
    <nav>
        <a @Url.Action("Index", "Home")>Internet</a>
        <a href="https://es.euronews.com/noticias/internacional">@translator.GetTraduction(service, "Store")</a>
        <a href="https://es.euronews.com/business">@translator.GetTraduction(service, "Portability")</a>
        <a href="@Url.Action("Plans", "Home")">@translator.GetTraduction(service, "Plans")</a>
        <a href="https://es.euronews.com/green">TV</a>
    </nav>
    <form action="@Url.Action("AddLanguage", "Idioma")" method="post">
        <div class="textBoxContainer">
            @translator.GetTraduction(service, "Name"): <input type="text" name="name" required />
        </div>
        <button class="btnRemover" type="submit">@translator.GetTraduction(service, "CreateLanguage")</button>
    </form>
    <br />
    <div class="contenedor-tabla">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>@translator.GetTraduction(service, "Language")</th>
                    <th>Tag</th>
                    <th>@translator.GetTraduction(service, "Text")</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lang in Model)
                {
                    foreach (var tran in lang.ListTranslate)
                    {
                        <tr>
                            <form action="@Url.Action("UpdatePage", "Idioma")" method="post">
                            <td><input type="hidden" name="id" value="@tran.Id" />@tran.Id</td>
                            <td><input type="text" name="name" value="@lang.Name" /></td>
                            <td><input type="text" name="tag" value="@tran.Name" /></td>
                            <td><input type="text" name="text" value="@tran.Text" /></td>
                            <td><button class="btnRemover" type="submit">@translator.GetTraduction(service, "Modify")</button></td>
                            </form>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>

