@model List<Services.Models.User>
@{
    ViewBag.Title = "ABM";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios</title>
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
        .contenedor-tabla {
            max-height: 400px;
            overflow-y: auto;
            border: 1px solid #ddd;
        }

        table {
            width: 80%;
            margin: auto;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
        .btnRemover {
            padding: 10px;
            background-color: rgb(30, 100, 196);
            color: white;
            align-items: center;
            border-style: none;
            margin:10px;
        }

            .btnRemover:hover {
                background-color: rgb(34, 124, 222);
                cursor: pointer;
            }

        .textBoxContainer {
            display: flex;
            margin: 10px;
            justify-content: center;
            gap: 5px;
            font-size: 13px;
        }
    </style>
</head>
<body>
    <nav class="barra">
        @if (Services.SessionManager.IsLogged())
        {
            <div class="opciones">
                <a href="@Url.Action("Logout", "Home")">Cerrar Sesión</a>
                <a href="@Url.Action("Index", "Home")">Inicio</a>
                <a style="display:none;" id="bitacora" href="@Url.Action("Bitacora", "Bitacora")">Bitácora</a>
                <a style="display:none;" id="abmusuarios" href="#">Gestión de usuarios</a>
                <a style="display:none;" id="restore" href="@Url.Action("BackupRestore", "Backup")">Respaldar/Restaurar Base de Datos</a>
                <script type="text/javascript">
                     @foreach (string permission in Services.SessionManager.GetInstance.User.permissionList)
                     {
                         <text>
                             document.getElementById('@permission').style.display = 'block';
                         </text>
                     }
                </script>
                <a href="@Url.Action("Carrito", "Carrito")">Carrito</a>
            </div>
            <div class="opciones">
                <img src="~/assets/user-image-with-black-background-svgrepo-com.svg" width="30px" />
                <p style='color: black; white-space: nowrap;'>Bienvenido, @Services.SessionManager.GetInstance.User.Name</p>
            </div>
        }
        else
        {
            <a href="@Url.Action("Login", "Login")">Iniciar Sesión</a>
        }
    </nav>
    <header>
        <h1>Bersonal</h1>
    </header>
    <nav>
        <a @Url.Action("Index", "Home")>Internet</a>
        <a href="https://es.euronews.com/noticias/internacional">Tienda</a>
        <a href="https://es.euronews.com/business">Portabilidad</a>
        <a href="@Url.Action("Plans", "Home")">Planes</a>
        <a href="https://es.euronews.com/green">TV</a>
    </nav>
    <form action="@Url.Action("AddUser", "ABM")" method="post">
        <div class="textBoxContainer">
            Nombre: <input type="text" name="Name" required />
            Apellido: <input type="text" name="Surname" required/>
            DNI: <input type="text" name="DNI" required/>
            Email: <input type="text" name="Email" required/>
            Contraseña: <input type="text" name="Password" required/>
        </div>
        <button class="btnRemover" type="submit">Crear Usuario</button>
    </form>
        <br />
        <div class="contenedor-tabla">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Email</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <form action="@Url.Action("UpdateUser", "ABM")" method="post">
                            <td><input type="hidden" name="Id" value="@user.id" />@user.id</td>
                            <td><input type="text" name="Name" value="@user.Name" /></td>
                            <td><input type="text" name="Surname" value="@user.Surname" /></td>
                            <td><input type="text" name="DNI" value="@user.DNI" /></td>
                            <td><input type="text" name="Email" value="@user.Email" /></td>
                            <td><button class="btnRemover" type="submit">Modificar</button></td>
                            </form>
                        <td>
                            <form action="@Url.Action("RemoveUser", "ABM")" method="post">
                                <input type="hidden" name="Id" value="@user.id" />
                                <button class="btnRemover" type="submit">Borrar</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
